---
import Item from "../Collections/ItemFeature/Item.astro";
import Bat from "../../img/regular/flagermus.png";
import RegImage from "../Basics/img/RegImage.astro";
/* import Twirl1 from "/svg/twirl1"
import Twirl2 from "/svg/twirl2" */

const {src} =Astro.props;
---

<div>
  <Item src={Bat} variant="a" direction="below" label="Black Bat Bag" alt="" />
  <!--  <RegImage src="Img" variant="Tape" alt=""/> -->
  <Item src={Bat} variant="b" direction="above" label="Black Bat Bag" alt="" />

  <img class="a" src="/svg/twirl1" alt="" />
  <img class="b" src="/svg/twirl2" alt="" />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  img.a {
    position: absolute;
  }
  img.b {
    position: absolute;
  }
</style>
