---

---

<div class="container">
  <h1 class="heading_1 caps">Shop</h1>
  <img src="/illustrations/ball_of_yarn.svg" alt="">
</div>

<style>
  .container {
    position: relative;
    display: none;
    /* gap: var(--x-small); */
    align-items: center;
    height: 200px;
  }

  h1 {
    position: absolute;
    left: 100px;
  }

  img {
    width: auto;
    height: 78%;
    position: absolute;
    top: var(--large);
  }

  @media (min-width: 960px) {.container {display: flex;}}
</style>
