---
import RegImage from "../../Basics/img/RegImage.astro";

import HeroIllustration from "../../../img/illustrations/ballerina.png"
---

<div class="container">
  <h1 class="heading_1 caps">Shop</h1>
  <RegImage src={HeroIllustration} variant="default" alt="" />
</div>

<style>
  .container {
    display: flex;
    
  }
</style>
