---
const {variant, label} =Astro.props

---
<article>
    <div class="flex-container">
        <div class="button-font">
            <p class="button">{label}</p>
        </div>
        <img class={variant} src="/buttons/btn_arrow.svg" alt="">
    </div>
</article>

<style>
    .flex-container{
        display: inline-flex;
        flex-direction: row;
        gap: 10px;
        border-bottom: 1.8px solid black;
        padding-bottom: 3px;
        cursor: pointer;
    }

    .flex-container:hover .side{
        transform:translateX(10px);
    }

    .flex-container:hover .up{
        transform: rotate(90deg) translateX(5px);
    }
    .up{
        transform:rotate(90deg);
         width: 1.8rem;
         position: relative;
         transition: transform 0.6s;
         margin-bottom: 5px;
    }

    .side{
        width:1.8rem;
        position: relative;
        transition: transform 0.6s ;
    }
    .button-font{
        font-size: var(--h3);
    }


   
</style>