---

const {label, href} = Astro.props

---
<a href={href}>
    <div class="container">
        <img src="/buttons/btn_sparkle.svg" alt="" class="sparkle">
        <div class="btn">
            <img src="/buttons/btn_scribble.svg" alt="" class="scribble">
            <p class="button">{label}</p>
        </div>
    </div>
</a>


<style>

    a:hover {
        opacity: 1;
    }

    .container {
        position: relative;
        aspect-ratio: 2/1;
        max-width: 283px;
        min-width: 256px;
    }

    .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    img {
        position: absolute;
        height: 100%;
    }

    img.sparkle {
        width: 100%;
        opacity: 0;
    }

    img.scribble {
        width: 65%;
        cursor: pointer;
    }

    .container:hover img.sparkle {
        opacity: 1;
    }


</style>