---

import Item from "../../Collections/ItemFeature/Item.astro"
import bat from '../../../img/regular/flagermus.png';
import blouse from '../../../img/regular/blue_blouse.png'
import socks from '../../../img/regular/socks.png'
---
<article class="container">
    <div>
        <Item
        src={blouse} alt="BLUE PRINCESS BLOUSE"
        direction="above"
        label="BLUE PRINCESS BLOUSE"
        variant="b"
        />
    </div>
    <div>
        <Item
        src={socks} alt="CHESS SOCKS"
        direction="below"
        label="CHESS SOCKS"
        variant="a"
        />
    </div>
      <div>
        <Item
        src={bat} alt="BAT BAG"
        direction="above"
        label="BAT BAG"
        variant="b"
        />
    </div>
</article>

<style>

.container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 150px;

    }


    .container>:first-child{
        grid-column: 2;
        grid-row: 1/4;
    }
     .container>:nth-child(2){
        grid-column: 1;
        grid-row: 3/7;
    }
      .container>:nth-child(3){
        grid-column: 2;
        grid-row: 6/9;
    }


   /*  .container{
        display: flex;
        flex-direction: column;
        min-width: 500px;
    }

    .container>:first-child{
        align-self: center;
    }
     .container>:nth-child(2){
        align-self:flex-start;
    }
      .container>:nth-child(3){
        align-self:center;
    }
 */
    @media (min-width: 630px){

    }


</style>
