---
import Item from "../../Collections/ItemFeature/Item.astro"

const products = await fetch("https://ujeckodeljhzamhwlhsj.supabase.co/rest/v1/products?select=*",{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqZWNrb2RlbGpoemFtaHdsaHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MDI3ODIsImV4cCI6MjAzMTA3ODc4Mn0.qKKBr9i_Jy2NzTfbu_jinScWs6PmGaBMoeK-1WHbmcU",
    }
}).then((res) => res.json());

const { data } = Astro.props;
let orderCount = 0;

---
<article>
    {products.map(item =>{
        if (item.id == data.items[0] || item.id == data.items[1] || item.id == data.items[2] ) {
            let thisItem = <div class="item"><Item data={item} order={orderCount} variant={data.class} /></div>
            orderCount++;
            return thisItem;
        }      
    })}
    <div class="box"></div>
</article>

<style>

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 283px;
        max-width: 544px;
        position: relative;
        padding: var(--medium);
        overflow-x: clip;
        overflow-clip-margin: var(--side);
    }

    .box {
        background-color: var(--box-color);
        width: 100%;
        height: 752px;
    }

    .item {
        position: absolute;
        transform: translateY(275px) rotate(15deg);
        opacity: 0;
        filter: blur(5px);
        transition: all .75s ease-out;
    }

    .pop {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
}

    .item:nth-child(1).pop {
        left: 2rem;
        top: -3rem;
        transform: rotate(16deg);
        transition-delay: .25s;
    }

    .item:nth-child(2).pop {
        top: 55%;
        right: 2rem;
        transform: translateY(-50%) rotate(-36deg);
        transition-delay: .5s;
    }

    .item:nth-child(3).pop {
        left: -1rem;
        bottom: -2rem;
        transform: rotate(-16deg);
        transition-delay: 1s;
    }

    


    @media (min-width: 630px) {

        .box {
            height: 100%;
        }

        .item:nth-child(1) {
        left: 0;
        top: -6rem;
    }

    .item:nth-child(2) {
        right: 1.5rem;
    }

    .item:nth-child(3) {
        left: -1rem;
        bottom: -5rem;
    }
    }

    @media (min-width: 960px) {
        .item:nth-child(1) {
            top: -4rem;
            left: 1rem;
    }

    .item:nth-child(2) {
        right: 2rem;
    }

    .item:nth-child(3) {
        left: 3rem;
    }

    .item:nth-child(2).pop {
        right: 4rem;
    }

    .item:nth-child(3).pop {
        left: -0.5rem;
    }
    }

</style>
