---

import { Image } from "astro:assets";

const { data } = Astro.props;

---
<a href={`/shop/${data.slug}`}>
  <article class="card">
      <Image src={data.image} alt="" inferSize />
    <header>
      <h1 class="heading_3 caps">{data.name}</h1>
      <p>€{data.price}</p>
    </header>
  </article>
</a>

<style>
  .card {
    display: grid;
    flex-direction: column;
    gap: var(--medium);
    
  }

  img {
    background-color: var(--box-color);
    aspect-ratio: 1/1.25;
    object-fit: scale-down;
    object-position: ;
  }

  .product_info {
    display: flex;
    flex-direction: column;
    gap: var(--x-small);
  }
</style>
