---

import { Image } from "astro:assets";

const { name, price } = Astro.props;

import Placeholder from "../../../../img/regular/flagermus.png"
---

<div class="card">
  <Image src={Placeholder} alt="" />
  <div class="product_info">
    <h3>{name}</h3>
    <p>€{price}</p>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: var(--medium);
    aspect-ratio: 1/1.25;
  }

  img {
    background-color: var(--box-color);
  }

  .product_info {
    display: flex;
    flex-direction: column;
    gap: var(--x-small);
  }
</style>
