---

import Card from "./Card.astro";
import ArrowButton from "../../../Basics/buttons/ArrowButton.astro";

const products = await fetch("https://ujeckodeljhzamhwlhsj.supabase.co/rest/v1/products?select=*",{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqZWNrb2RlbGpoemFtaHdsaHNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1MDI3ODIsImV4cCI6MjAzMTA3ODc4Mn0.qKKBr9i_Jy2NzTfbu_jinScWs6PmGaBMoeK-1WHbmcU",
        Range: "0-11"
    }
}).then((res) => res.json());

---

<div class="container">
    {products.map(item=>{
        return <Card data={item} />
    })}
    <ArrowButton label="Load more" variant="down" />
</div>

<style>
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
        gap: var(--medium);
        width: 100%;
        padding: var(--top_btm) var(--side);
    }

    @media (min-width: 960px) {
        .container {
            display: grid;
            padding: var(--none);
        }
    }
</style>

