---

import MainLayout from "../../layouts/MainLayout.astro"

import CollectionShowcase from "../../components/Collections/CollectionShowcase.astro"

---

<MainLayout>
	<h1>Sophia Khaled</h1>
	<CollectionShowcase ColNo="1" />
</MainLayout>