---
import RegImage from "../../Basics/img/RegImage.astro";
/* import Pil from "../../../img/illustrations/arrow.svg"; */

const { label } = Astro.props;
---

<div>
  <RegImage src="../../../img/illustrations/arrow.svg" alt="" />
  <p class="item">{label}</p>
</div>

<style></style>
