---
import RegImage from "../../Basics/img/RegImage.astro";
import Pil from "/svg/arrow.svg";

const { label, variant } = Astro.props;
---

<div class={variant}>
  <div class="rotate">
    <RegImage src={Pil} variant="default" alt="" />
  </div>
  <p class="item">{label}</p>
</div>

<style>
  div {
    display: flex;
    align-items: center;
  }
  .above {
    flex-direction: column;
  }
  .above .rotate {
    rotate: 180deg;
  }

  .below {
    flex-direction: column-reverse;
  }
</style>
