---

const { option } = Astro.props

---

<div class="container option">
    <div class="icon"></div>
    <p class="filter">{option}</p>
</div>

<style>

    .container {
        display: flex;
        align-items: center;
        gap: var(--x-small);
        max-width: 220px;
        transition: scale .15s ease-in;
    }

    .icon {
        --size: 2rem;
        width: var(--size);
        height: var(--size);
        background-image: url("/icons/icon_Unchecked.svg");
        background-repeat: none;
        background-size: 100%;
        aspect-ratio: 1 / 1;
    }

    .icon.active {
        background-image: url("/icons/icon_Checked.svg");
    }

    .container:hover {
        scale: 1.05;
    }

</style>

<script>
    const options = document.querySelectorAll(".container.option");
    var i;

    for (i = 0; i < options.length; i++) {
        options[i].addEventListener("click", function() {
            const icon = this.querySelector(".icon");
            icon.classList.toggle("active");
        })
    }
</script>