---
 
import Active from "/svg/icon_Checked.svg"
import Default from "/svg/icon_Unchecked.svg"

const { option } = Astro.props

---

<div class="container">
    <img src="/svg/icon_Unchecked.svg" alt="" class="icon">
    <p class="filter">{option}</p>
</div>

<style>

    .container {
        display: flex;
        gap: var(--x-small);
        cursor: pointer;
        max-width: 220px;
    }

    .icon {
        width: 1.5rem;
    }

</style>