---

import { Image } from "astro:assets";

import Pin from "../../../img/img_assets/SafetyPin.png"

const { data } = Astro.props

---

<div class=`container ${data.variant}`>
    <Image src={Pin} alt="" class="pin" />
    {data.photobooth.map((photo) => (
        <Image src={photo} alt="" class="photo" />
    ))}
</div>
    
<style>

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--x-small);
        padding: var(--none) var(--xx-small);
        background-color: var(--white-smoke);
        filter: var(--dropshadow);
    }

    img.photo {
        aspect-ratio: 1 / 1.25;
        overflow: clip;
    }

    img.pin {
        position: absolute;
        width: 25%;
    }

    .col_01 .pin {
        transform: rotate(25deg);
        left: -.5rem;
    }

    .col_02 .pin {
        transform: rotate(-45deg);
        top: 2rem;
        right: -.5rem;
    }

</style>