---
import RegImage from "../img/RegImage.astro";

const images = [
  {
    imgA: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
    imgB: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
    imgC: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
  },

  {
    imgA: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
    imgB: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
    imgC: "/src/img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG",
  },
];
---

<div>
  {
    images.map((image) => {
      return (
        <>
          <RegImage src={image.imgA} alt="" />
          <RegImage src={image.imgB} alt="" />
          <RegImage src={image.imgC} alt=""/>
        </>
      );
    })
  }

  <style>
    div {
      background-color: var(--white-smok);
      width: fit-content;
      padding: 1%;
      display: flex;
      flex-direction: column;
      gap: var(--small);
    }
  </style>
</div>
