---
import RegImage from "../img/RegImage.astro";
---

<div>
  <RegImage class="regular" alt="" />
  <RegImage class="regular" alt="" />
  <RegImage class="regular" alt="" />
</div>

<style>
  div {
    background-color: var(--white-smok);
    width: 180px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
</style>
