---

import PlaceholderImage from "../../../img/regular/model.jpeg";

import RegImage from "./RegImage.astro"

---

<div class="container">
    <div class="single">
        <RegImage src={PlaceholderImage} variant="default" alt="" />
    </div>
</div>



<style>

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--x-small);
        max-width: 283px;
        background-color: var(--white-smoke);
    }

    .single {
        height: 200px;
    }

</style>