---

import MainLayout from "../layouts/MainLayout.astro"
import Filter from "../components/Shop/ListView/ProductList/Filter.astro"

---

<MainLayout>
	<h1>Sophia Khaled</h1>
	<Filter />
</MainLayout>