---

import MainLayout from "../layouts/MainLayout.astro"

import RegImage from "../components/Basics/img/RegImage.astro"
import Photobooth from "../components/Basics/img/Photobooth.astro"
import PlaceholderImage from "../img/regular/flagermus.png";


---

<MainLayout>
  <h1>Sophia Khaled</h1>

  <Photobooth />
</MainLayout>
