---
import Item from "../components/Collections/ItemFeature/Item.astro";
import ItemName from "../components/Collections/ItemFeature/ItemName.astro";
import MainLayout from "../layouts/MainLayout.astro";

import Img from "../img/regular/flagermus.png";
import Img2 from "../img/regular/Img.png";
import CollectionHero from "../components/Collections/CollectionHero.astro";
---

<MainLayout>
  <h1>Sophia Khaled</h1>

<CollectionHero src="../img/regular/Img.png"/>
</MainLayout>
