---
import RegImage from "../components/Basics/img/RegImage.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Sophia Khaled</h1>

  <RegImage variant={"opacity"} alt="" />
</MainLayout>
