---
import MainLayout from "../layouts/MainLayout.astro";

import GetTheLook from "../components/Collections/GetTheLook.astro"

---

<MainLayout>
	<h1>Sophia Khaled</h1>
	
  <GetTheLook src="" alt=""/>
</MainLayout>
