---
<<<<<<< HEAD
import RegImage from "../components/Basics/img/RegImage.astro";
import Photobooth from "../components/Basics/img/Photobooth.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Shop/ListView/ProductList/Card.astro";
import ShopHero from "../components/Shop/ListView/ShopHero.astro";
---

<MainLayout>
  <h1>Sophia Khaled</h1>

  <ShopHero />
</MainLayout>
=======

import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout>
	<h1>Sophia Khaled</h1>
</MainLayout>
>>>>>>> master
