---

import MainLayout from "../layouts/MainLayout.astro"

import RegImage from "../components/Basics/img/RegImage.astro"
import Photobooth from "../components/Basics/img/Photobooth.astro"

// import PlaceholderImage from "../img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG";

import Img01 from "../img/regular/model.jpeg";
import Img02 from "../img/regular/flagermus.png";
import Img03 from "../img/regular/model.jpeg";

---

<MainLayout>
	<h1>Sophia Khaled</h1>
	<Photobooth Img01={Img01} Img02={Img02} Img03={Img03} />
</MainLayout>
