---
import RegImage from "../components/Basics/img/RegImage.astro";
import Photobooth from "../components/Basics/img/Photobooth.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Shop/ListView/ProductList/Card.astro";
---

<MainLayout>
  <h1>Sophia Khaled</h1>

  <RegImage src="" variant="square" alt=""/>
</MainLayout>
