---

import MainLayout from "../layouts/MainLayout.astro"
import ScribbleButton from "../components/Basics/buttons/ScribbleButton.astro"


---

<MainLayout>
	<h1>Sophia Khaled</h1>
	<ScribbleButton label="Button" />
	
</MainLayout>
