---

import MainLayout from "../layouts/MainLayout.astro"

import Img01 from "../img/regular/model.jpeg";
import Img02 from "../img/regular/flagermus.png";
import Img03 from "../img/regular/model.jpeg";

---

<MainLayout>
	<h1>Sophia Khaled</h1>
	
</MainLayout>
