---

import MainLayout from "../layouts/MainLayout.astro"

import RegImage from "../components/Basics/img/RegImage.astro"
import Photobooth from "../components/Basics/img/Photobooth.astro"

// import PlaceholderImage from "../img/regular/7967A9EB-2BD9-41E7-ADA9-1D7D1690C969.JPEG";


---

<MainLayout>
	<h1>Sophia Khaled</h1>
	<Photobooth />
	<!-- <RegImage src={PlaceholderImage} variant={"taped"} alt="" /> -->
</MainLayout>
