
<section>
    <article>
        <h1 class="heading_3 caps">All pieces are handmade with love</h1>
        <p class="lead">This means that there will be some production time from time of order till you get your new favorite piece.</p>
    </article>
    <img src="/illustrations/handmade.svg" alt="Handmade with love">
</section>

<style>
    
    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--medium);
        align-items: center;
        justify-items: center;
        padding: var(--top_btm) var(--none);
    }

    img {
        width: 50%;
    }


</style>