
<section>
    <img src="/illustrations/handmade.svg" alt="Handmade with love">
    <article>
        <h1 class="heading_3 caps">All pieces are handmade with love</h1>
        <p class="lead">This means that there will be some production time from time of order till you get your new favorite piece.</p>
    </article>
</section>

<style>
    
    section {
        display: grid;
        gap: var(--medium);
        align-items: center;
        justify-items: center;
        padding: var(--top_btm) var(--none);
    }

    img {
        width: 50%;
        max-width: 283px;
    }

    h1 {
        margin-bottom: var(--h3-line);
    }

    @media (min-width: 630px) {
        section {
            grid-template-columns: repeat(2, 1fr);
        }

        img {
            order: 1;
        }
    }


</style>