---

import CollectionCard from "./Collections/CollectionCard.astro";

const collections = [
    {
        no: "Collection 01",
        name: "Middleschool u r dead to me...",
        img: "/src/img/illustrations/ballerina.png"
    },
    {
        no: "Collection 02",
        name: "If i dont see the prince, im going to die...",
        img: "/src/img/illustrations/castle.png"
    }
]

---

<div class="container break_main">
    {collections.map(collection=>{
        return <CollectionCard ColNo={collection.no} ColName={collection.name} ColImg={collection.img} />
    })}
</div>



<style>

</style>