@import url(reset.css);
@import url(variables.css);

* {
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: var(--main-font);
}

/* main {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) 1120px minmax(2rem, 1fr);
} */
