:root {
  /* COLOUR */
  --brand-a: #fff;
  --brand-b: #fff;
  --accent-a: #fff;
  --accent-b: #fff;
  --neutral-a: #fff;
  --neutral-b: #fff;

  /* FONT */
  --display: ;
  --heading: ;
  --body-copy: ;
  --scribble: ;
}
