---
import ArrowButton from "../../../Basics/buttons/ArrowButton.astro";
---

<div>
  <div>
    <h1 class="heading_2e caps"></h1>
    <p class="lead">Size S - M</p>
    <div>
      <p>Model wears size small</p>
      <p>100% Cotton & Glitter Polyester</p>
      <p>Made to order</p>
    </div>

    <h2 class="subheading">€420</h2>
  </div>
  <ArrowButton />
</div>

<style></style>
