---



import ArrowButton from "../../Basics/buttons/ArrowButton.astro"

const { data, ColNo, ColName, ColSrc } = Astro.props

---

    <article>
        <header>
            <h1 class="subheading_scribble">Collection {data.no}</h1>
            <h2 class="heading_2">{data.name}</h2>
            <ArrowButton label="See collection" href=`/collections/${data.slug}` />
        </header>
        <img src={data.img} alt="">
    </article>



<style>
    article {
        min-width: 288px;
        max-width: 488px;
        display: flex;
        justify-content: space-between;
        gap: var(--medium);
        /* padding: var(--none) var(--side); */
    }

    header {
        min-width: 160px;
    }

    img {
        width: auto;
        max-height: 160px;
    }
</style>